<div class="col-md-8 offset-md-3">
<h3> Create a new Appliance</h3>
<div *ngIf="error">
  <h6 class="text-danger">Error while creating Appliance: {{errorMessage}}</h6>
</div>
<form (ngSubmit)= "onSubmit()">
  <div class="form-group">
    <label>Serial Number: </label>
    <input type="text" class="form-control" [(ngModel)] = "appliance.serialNumber" name="serialNumber" id="serialNumber">
  </div>
  <div class="form-group">
    <label>Brand: </label>
    <input type="text" class="form-control" [(ngModel)] = "appliance.brand" name="brand" id="brand">
  </div>
  <div class="form-group">
    <label>Model: </label>
    <input type="text" class="form-control" [(ngModel)] = "appliance.model" name="model" id="model">
  </div>
  <div class="form-group">
    <label>Status: </label>
    <input type="text" class="form-control" [(ngModel)] = "appliance.status" name="status" id="status">
  </div>
  <div class="form-group">
    <label>Date: </label>
    <input type="date" class="form-control" [(ngModel)] = "appliance.date" name="date" id="date">
  </div>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>